<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ partial "analytics.html" . }}
  {{ partial "seo.html" . }}
</head>
<body>
  <a href="#main-content" class="skip-to-content" data-i18n="skipToContent">跳到内容</a>
  {{ partial "header.html" . }}
  <main class="mid-flex" id="main-content">
    {{ partial "sidebar.html" . }}
    <section class="center-S">
      <div class="center-container">
        <div class="center-card">
          <div class="center-header-area">
            {{ block "main" . }}{{ end }}
          </div>
        </div>
      </div>
    </section>
  </main>
  {{ partial "footer.html" . }}
</body>
</html>
